.card--image {
  width: 13rem;
  height: 18rem;
  border-radius: 15px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.fade {
  opacity: 0.5;
}

.bold {
  font-weight: bold;
}
